<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :ingredienti %>
    <%= form.text_area :ingredienti %>
  </div>

  <div class="field">
    <%= form.label :prezzo %>
    <%= form.text_field :prezzo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
