<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :nome, class:'form-label' %>
    <%= form.text_field :nome, class:'form-control' %>
    <div class="form-text">Non dimenticare le maiuscole</div>
  </div>

  <div class="field">
    <%= form.label :ingredienti, class:'form-label' %>
    <%= form.text_area :ingredienti, class:'form-control' %>
    <div class="form-text">Non dimenticare le maiuscole</div>
  </div>

  <div class="field">
    <%= form.label :prezzo, class:'form-label' %>
    <%= form.text_field :prezzo, class:'form-control' %>
    <div class="form-text">Non dimenticare le maiuscole</div>
  </div>

  <div class="field">
    <%= form.label :foto, class:'form-label' %>
    <%= form.file_field :foto, class:'form-control' %>
  </div>

<br>

  <div class="actions">
    <%= form.submit 'Salva', class: 'btn btn-success w-100'%>
  </div>
  
<% end %>
