<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @product.nome %>
</p>

<p>
  <strong>Ingredienti:</strong>
  <%= @product.ingredienti %>
</p>

<p>
  <strong>Prezzo:</strong>
  <%= @product.prezzo %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
