 <br>
 <div class="row">  <div class="col-4">
    <% if @product.foto.attached? %>
      <%= image_tag url_for(@product.foto), class:'w-100' %>
    <% end %>
  </div>

  <div class="col-8">
    <p>
      <strong>Nome:</strong>
      <%= @product.nome %>
    </p>

    <p>
      <strong>Ingredienti:</strong>
      <%= @product.ingredienti %>
    </p>

    <p>
      <strong>Prezzo:</strong>
      <%= @product.prezzo %>
    </p>

    <%= link_to 'Edita', edit_product_path(@product), class: 'btn btn-sm btn-warning' %> |
    <%= link_to 'Back', products_path, class: 'btn btn-sm btn-danger' %>
  </div>
</div>
